@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

h6 {
  color: #d8d8d8;
}
 button{
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #f87400;
  color: rgb(255, 255, 255);
  padding: 13px 38px;
  text-transform: uppercase;
  transition: 0.3s ease;


 }


 button:hover {
  background-color: rgb(135, 20, 0);
 }
hr {
  width: 30px;
  height: 5px;
  background-color: #a10404;
}

.star {
  padding: 10px 0;
}


.star i{
font-size: 0.8rem;
color: rgb(255, 162, 2);
}



.navbar {
 font-size: 16px;
 top: 0;
 left: 0;
 box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);

}

#bar {
  font-size: 2.5rem;
  
}

/*Mobile Nav*/
.navbar-light .navbar-toggler{
  border: #b90808;
  outline-offset: 1ch;
  cursor: pointer;

}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
  color: #f66d05db;
}

/* Navbar আইকনের স্টাইল */
.navbar i {
  font-size: 1.5rem; /* আইকনের সাইজ */
  padding: 0 8px;
  color: rgb(230, 0, 99); /* কালার */
  transition: 0.3s ease;
}

.navbar i:hover {
  color: #ff9100; /* হোভার হলে রঙ পরিবর্তন */
}

@media only screen and (max-width: 991px) {
  body>nav>div>button:hover,
  body>nav>div>button:focus {
    background-color: aqua;
  }
  body>nav>div>button:hover #bar,
  body>nav>div>button:focus #bar {
    background-color: rgb(183, 10, 94);

  }

}

#navbarSupportedContent > ul{

  margin:  1rem;
justify-content: flex-end;
align-items: flex-end;
text-align: right;



}



  
/*mobile*/
.navbar-light .navbar-toggler{
  border: none;
  outline: none;




}




.navbar-brand img {
  background-color: #3c0434;
  width: 50px;
  height: 50px;
 
}

#home span {
  color: #b90808;
}

#home {
  background-image: url("wdd.png");
  width: 100%;
  padding-top: 150px; 
  height: 100vh;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
 
}

#new .one img{
width: 100%;
height: 100%;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
 
#new .one .details{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
transition: 0.3s ease;

}
#nwe .one:hover .details {
  cursor: pointer;
  background-color: rgb(245, 178, 178, 0.7);
}

#new .one .details button{
display: inline-block;
font-size: 14px;
font-weight: 500;
color: #000000;
background: none;
text-transform: uppercase;
border-bottom: 1px solid #3c0434;
padding: 2.5px;
transform: translateY(70px);
transition: 0.3s ease;

}


#new .one .details button:hover{
color: rgb(249, 20, 20);
border-bottom: 1px solid #fbfbfb;

}

#new .one:nth-child(1) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;


}

#new .one:nth-child(2) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  

}

#new .one:nth-child(3) .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  

}


.product{
  cursor: pointer;
  margin-bottom: 2rem;
}
.product img {
  transition: 0.3s all;

}
.product:hover img {
  opacity: 0.7;
}
.product .buy-btn {
  background: darkorange;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.product:hover .buy-btn {
transform: translateY(0);
opacity: 1;

}



#banner {
  background-image: url("ded.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner h4{
color: #0b0462;

}

#banner h1{
color: #15046c;
  
}

#banner button{
background-color: #f84307;
  
}
footer {
  background-color: #000000;
}
footer h5{
color: #fffdfd;
font-weight: 700;
font-size: 1.2rem;

}
footer li {
  padding-bottom: 4px;
  
}
footer li a{
  font-size: 0.8rem;
  color: #fffdfd;

}

footer li a:hover {
  color: #fffdfd;
}

footer p {
color: aliceblue;
font-size: 0.8rem;
}

footer .copyright a{
  color: #000000;
  width: 38px;
  height: 38px;
  background-color: #fffdfd;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
} 

footer .copyright a:hover{
  color: #fffdfd;
  background-color: #f84307;
}

#blog-container .post .post-img {
  overflow: hidden;
  cursor: pointer;
}

#blog-container .post img {
  transition: 0.3s ease;
}

#blog-container .post:hover img {
  transform: scale(1.3) rotate(-10deg); 
  opacity: 0.8;
}

#blog-container .post h3 {
  transition: 0.3s ease;
  cursor: pointer;
}


#blog-container .post:hover h3 {
  color: #f50c0c;
}#cart-container table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto; /* 'fixed' এর পরিবর্তে auto যাতে টেবিল কলামগুলি স্বতঃস্ফূর্তভাবে আকার নিতে পারে */
}

#cart-container table thead {
  font-weight: 700;
  background-color: #f50c0c; /* হেডার ব্যাকগ্রাউন্ড কালার */
}

#cart-container table th, #cart-container table td {
  text-align: center; /* সেন্টার এ্যালাইনমেন্ট */
  padding: 10px; /* সব সেলে প্যাডিং */
  border: 1px solid #d8d8d8; /* সেলের বর্ডার */
}

#cart-container table th {
  color: #fffdfd; /* হেডারের টেক্সট কালার */
}

#cart-container table td {
  vertical-align: middle; /* সেলের মধ্যে সঠিকভাবে মাঝখানে টেক্সট */
}

#cart-container table td:nth-child(1) {
  width: 120px; /* রিমুভ/রিডাক্ট সেল এর জন্য যথাযথ স্পেস */
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
  width: 200px; /* চিত্র এবং প্রোডাক্টের জন্য যথাযথ আকার */
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
  width: 150px; /* মূল্য, পরিমাণ, মোটের জন্য ছোট আকার */
}

#cart-container table tbody img {
  width: 100px;
  height: 80px;
  object-fit: cover; /* ছবির সঠিক ফিট */
}

/* Styling for input fields */
#cart-container input[type="number"] {
  width: 60px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
